.card_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1%;
    margin: 10px 0;
    padding: 5px;
}

.card{
    display: flex;
    align-items: center;
    column-gap: 8%;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    width: 100%;
    max-width: 280px;
    cursor: pointer;
    border-radius: 8px;
}

.card_header{
    margin: 0 0 5px 0;
}

.card_text{
    margin: 0;
    font-weight: 500;
    color: #31517A;
}

@media screen and (min-width:1300px) {
    .card{
        column-gap: 20px;
        padding: 10px 20px;
    }
}

@media screen and (max-width:700px){
    .card_container{
       flex-direction: column;
    }

    .card{
        max-width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 5% 70%;
    }
}