.container{
    margin: 0;
    width: 100vw;
    padding: 8px;
}

.nav__secondary{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    column-gap: 10px;
    padding: 8px 5px;    
    align-items: center;
}

.nav_item{
    cursor: pointer;
}

.inputGroup{
    display: flex;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 5px 10px;
    align-items: center;
    width: 70%;
    max-width: 350px;
}

.inputGroup_input{
    padding: 10px;
    border: none;
    background: #f5f7fa;
    width: 100%;
}
.inputGroup_input::placeholder, 
.inputGroup_input::-ms-input-placeholder{
    color: #A0A4A8;
}

.inputGroup_input:focus{
    outline: none;
}

.notificationGroup{
    display: flex;
    align-items: center;
    justify-self: end;
}

.notificationGroup_count{
    position: relative;
    right: 5px;
    bottom: 8px;
    padding: 2px 5px 3px;
    font-size: x-small;
    color: #ffffff;
    font-weight: bold;
    background: #FF6760;
    border-radius: 100%;
    border:1px solid #ffffff
}

@media screen and (max-width:1300px) {
    .container{
        width: 100vw;
    }
    
}

@media screen and (min-width:600px){
    .container{
        padding: 10px 15px;
    }
}
@media screen and (min-width:1300px){
    .container{
        width: 100%;
    }
    .nav__secondary{
        grid-template-columns: 1fr auto auto;
    }
    
}