.charts_container{
    display: grid;
    column-gap: 3%;
    width: 100%;
    margin: 10px 0;
    padding: 15px 5px;
}


.charts{
    position: relative;
    width: 100%;
    margin: auto;
}


@media screen and (min-width: 700px) {
    .charts_container{
        padding: 5px;
        grid-template-columns: 1fr 1fr;
    }
    
}