.container{
    width: 100vw;
    max-width: 2000px;
    margin: auto;
    min-height: 100vh;
    display: block;
    background: #F6F8FB;
}

@media screen and (min-width: 700px) {
    .container{
        display: grid;
        grid-template-columns: auto 1fr;
    }
}