.container{
    min-height: 100vh;
    display: grid;
    background: #F6F8FB;
    grid-template-columns: 100vw;
}

@media screen and (min-width: 1300px) {
    .container{
        grid-template-columns: 15vw 85vw;
        overflow-x: none;
    }
}